.photo-grid {
    background-color: #2A2C2F;
    max-width: 1184px;
    display: grid;
    margin: auto;
    padding: 0 48px;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    justify-content: center;
}



  @media screen and (max-width: 1025px) {
    .photo-grid {
      grid-template-columns: repeat(3, 1fr);
      max-width: 1020px;
      gap: 14px;
      margin-top: 88px;
      padding: 0 48px;
    }
  }
  
  @media screen and (max-width: 770px) {
    .photo-grid {
      grid-template-columns: repeat(2, 1fr);
      max-width: 750px;
      gap: 16px;
      margin-top: 64px;
      padding: 0 24px;
    }
  }

  @media screen and (max-width: 350px) {
    .photo-grid {
      grid-template-columns: 1fr;
      max-width: 330px;
      gap: 12px;
      padding: 0 16px;
    }
  }