.photo-grid__item {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    display: block;
    
}



@media screen and (max-width: 1020px) {
    .photo-grid__item {
        aspect-ratio: 1.33;
    }
}