.place__paragraphs {
    max-width: 484px;
}


@media screen and (max-width: 1023px) {
    .place__paragraphs {
      max-width: 456px;
    }
  }

@media screen and (max-width: 767px) {
    .place__paragraphs {
      max-width: 350px;
    }
  }