.place_two-words {
  grid-template-rows: 152px 460px;
}

@media screen and (max-width: 1279px) {
  .place_two-words {
    grid-template-rows: 152px 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place_two-words {
    grid-template-rows: 92px auto;  /*340px*/
  }
}